@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/Pretendard-Thin.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/Pretendard-ExtraLight.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Pretendard-Light.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Pretendard-Regular.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Pretendard-Medium.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Pretendard-Bold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Pretendard-Black.subset.woff2') format('woff2');
}

@theme {
  /* 메인 폰트 */
  --font-primary: 'Pretendard', sans-serif;

  /* 메인 컬러 */
  --color-primary: #0d0e0f;
  /* accent 컬러 */
  --color-accent: #00c896;

  /* 컨텐츠 primary 컬러 */
  --color-content-primary: #000000;
  /* 컨텐츠 secondary 컬러 */
  --color-content-secondary: #6b6b6b;
  /* 컨텐츠 tertiary 컬러*/
  --color-content-tertiary: #a6a6a6;

  /* gray 계열 컬러 피그마대로 수정 */
  --color-gray-50: #f9f9f9;
  --color-gray-100: #e1e1e1;
  --color-gray-200: #c4c4c4;
}

@theme {
  --shadow-right: 5px 13px 10px rgba(0, 0, 0, 0.1);
}

@layer base {
  html {
    font-family: var(--font-primary);
  }
}
